*
{
  margin: 0px;
  padding: 0px;
  font-family: 'Quicksand', sans-serif, Arial, Helvetica, sans-serif;
}

.background
{
    position: relative;
    background: #e9ebea;
    overflow: hidden; 
}

.back-cont
{
    padding: 50px;
    position: relative;
    z-index: 2;
}

.background:before
{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url(../img/txtr-baw.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.mb-4
{
  margin-top: 1%;
}



.foot-contain
{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

form
{
  margin-top: 10%;
}

footer
{
  margin-top: 5%;
  font-size: 150%;
}

.foot
{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}

.foot-el1
{
  margin-left: 10%;
}

.foot-el2
{
  margin-left: 5%;
}



footer a
{
  color: #272727;
}

.marg
{
  margin-top: 20%;
}

.home-sub
{
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 180%;
  letter-spacing: 4px;
}

ul, li 
{
  list-style: none;
}

a:hover
{
  color: rgb(189, 23, 23);
}

a
{
  color: rgb(238, 65, 13);
}

.table
{
  margin-top: 15%;
}

/* ARTICLE CARDS */


article
{
  margin: 4%;
}

.card 
{
  width: 275px;
  font-family: 'Playfair Display', serif;
  text-align: center;
  transition: all .125s;  
  transform: scale(1) translateY(0px);
}
  
.card__wrapper 
{
  padding-top: .1px;
  padding-bottom: .1px;
  position: relative;  
  background-color: #ffffff;
  color: #999999;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.05);
}

.card__wrapper:after 
{
  content: '';
  position: absolute;
  z-index: -1;
  top: 15px;
  right: 15px;
  bottom: 0;
  left: 15px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.2);
  transition: all .125s;
  transform: scale(1) translateY(0px);
}

.card__box
{
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.card__item 
{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card__item--small  
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.card__feature 
{
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.card__img 
{
  display: block;
  max-width: 100%;
  height: 240px;
  width: 280px;
}

.card__header 
{
  position: relative;
  z-index: 1;
}

.card__title
{
  color: #222222;  
  font-size: 30px;
  font-weight: 400;
  line-height: 1.25;
}
  
.card__label 
{
  color: #cccccc;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  letter-spacing: .2em;
}

.card__divider 
{
  display: block;
  width: 100%;
  height: 15px;
  border: none;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIyOHB4IiBoZWlnaHQ9IjE1cHgiIHZpZXdCb3g9IjAgMCAyOCAxNSIgZW5hYmxlLWJhY2tncm91bmQ9Im5ldyAwIDAgMjggMTUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiNERURFREUiIGQ9Ik0yNy41LDdoLTZDMjEuMiwzLjEsMTgsMCwxNCwwUzYuOCwzLjEsNi41LDdoLTZDMC4yLDcsMCw3LjIsMCw3LjVTMC4yLDgsMC41LDhoNmMwLjMsMy45LDMuNSw3LDcuNSw3czcuMi0zLjEsNy41LTdoNkMyNy44LDgsMjgsNy44LDI4LDcuNVMyNy44LDcsMjcuNSw3eiBNMTQsMWMzLjQsMCw2LjIsMi42LDYuNSw2SDcuNUM3LjgsMy42LDEwLjYsMSwxNCwxeiBNMTQsMTRjLTMuNCwwLTYuMi0yLjYtNi41LTZoMTIuOUMyMC4yLDExLjQsMTcuNCwxNCwxNCwxNHoiLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-position: center center;
}

.card__body 
{
  font-size: 12px;
  line-height: 1.75;
}

.card:hover 
{
  cursor: pointer;
  transform: scale(1.05);
}

.card:hover .card__wrapper 
{
  box-shadow: 0 0 10px 0 rgba(0,0,0,.05);
}

.card:hover .card__wrapper:after 
{
  transform: scale(0.95) translateY(10px);
}
  
body 
{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9b9e9d;
  text-align: center;
}

.card 
{
  display: inline-block;
  margin-top: calc( ( 100vh - 506px ) / 2 );
  margin-right: 15px;
  margin-left: 15px;
  top: 50%;
}
